alembic==1.17.2
asttokens==2.2.1
attrs==25.4.0
backcall==0.2.0
Brotli @ file:///D:/bld/brotli-split_1761591996260/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///D:/bld/cffi_1761202875932/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
colorama==0.4.6
colorlog==6.10.1
comm==0.1.4
contourpy @ file:///D:/bld/contourpy_1744743084386/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
fastjsonschema==2.21.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
fonttools @ file:///D:/bld/fonttools_1759187070181/work
greenlet==3.2.4
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
ipykernel==6.25.0
ipython==8.14.0
jedi==0.19.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1762488749/work
Mako==1.3.10
MarkupSafe @ file:///D:/bld/markupsafe_1759055175616/work
matplotlib==3.10.8
matplotlib-inline==0.1.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
narwhals==2.12.0
nbformat==5.10.4
nest-asyncio==1.5.7
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy @ file:///D:/bld/numpy_1747544591878/work/dist/numpy-2.2.6-cp310-cp310-win_amd64.whl#sha256=af66576ce916c795ffa81be9620c8138a3fda6e1713b2bf7775a630e47eca3a8
opencv-python==4.12.0.88
optuna==4.6.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///D:/bld/pandas_1759265571861/work
parso==0.8.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
pickleshare==0.7.5
pillow @ file:///D:/bld/pillow_1726075253811/work
platformdirs==3.10.0
plotly==6.5.0
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments==2.15.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
PySide6==6.9.2
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil==2.8.2
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32==306
PyYAML @ file:///D:/bld/pyyaml_1758891559676/work
pyzmq==25.1.0
referencing==0.37.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
rpds-py==0.29.0
scikit-learn @ file:///D:/bld/scikit-learn_1757432814257/work/dist/scikit_learn-1.7.2-cp310-cp310-win_amd64.whl#sha256=80780e7bac7c11947bc8f76f74cce4a729277e8fc2c67f76db5038e95de040c9
scipy @ file:///C:/bld/scipy-split_1739790833536/work/dist/scipy-1.15.2-cp310-cp310-win_amd64.whl#sha256=4748853a0c723cda1fa2bdead847ba7c2443bde9cec3436e3e7243cfa54b55ff
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
shiboken6==6.9.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
SQLAlchemy==2.0.44
stack-data==0.6.2
statsmodels @ file:///D:/bld/statsmodels_1759296985025/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946057943/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tomli==2.3.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///D:/bld/unicodedata2_1763054693050/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
wcwidth==0.2.6
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zstandard==0.25.0
